<!-- <p>addemployee works!</p> -->
<app-header></app-header>
<div class="container mt-5">
    <h2>Employee Registration</h2>

    <div class="form-group" class="col-4 mt-2">
        <label for="">Name:</label>
        <input [(ngModel)]="addData.name" type="text" class="form-control"
        placeholder="Enter the name">
    </div>

    <div class="form-group" class="col-4 mt-2">
        <label for="">Status:</label>
        <input [(ngModel)]="addData.status" type="text" placeholder="Enter status" class="form-control">
    </div>

    <div class="form-group" class="col-4 mt-2">
        <label for="">Department:</label>
        <input [(ngModel)]="addData.department" type="text" placeholder="Enter department"
        class="form-control">
    </div>

    <div class="form-group" class="col-4 mt-2">
            <label for="">Email ID:</label>
            <input [(ngModel)]="addData.emailid" type="email" class="form-control" placeholder="Enter email ID">
    </div>
        
    <div class="form-group" class="col-4 mt-2">
        <label for="">Salary:</label>
        <input [(ngModel)]="addData.salary" type="number" class="form-control" id="salary" placeholder="Enter salary">
    </div>

    <div class="form-group" class="col-4 mt-2">
        <label for="">Country:</label>
        <select [(ngModel)]="addData.country" class="form-control">
            <option [ngValue]="item" *ngFor="let item of allCountry">{{item.cname}}</option>
        </select>
    </div>
    
    <button (click)="onSubmit()" type="button" class="btn btn-primary btn-block">Submit</button>

</div>